// FONTS IMPORT
@font-face {
    font-family: 'alegreya_sansmedium';
    src: url('../fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
        url('../fonts/alegreyasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansbold';
    src: url('../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
        url('../fonts/alegreyasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sanslight';
    src: url('../fonts/alegreyasans-light-webfont.woff2') format('woff2'),
        url('../fonts/alegreyasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansregular';
    src: url('../fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
        url('../fonts/alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// FONTS
$bold-font: 'alegreya_sansbold';
$medium-font: 'alegreya_sansmedium';
$regular-font: 'alegreya_sansregular';
$light-font: 'alegreya_sanslight';

// COLORS
$primary-color: #D8CFBC;
$secondary-color: rgba($primary-color, .16);
$tertiary-color: rgba($primary-color, .6);
$hover-color: #E2D1AD;
$footer-color: #303030;
$free-color: #21B487;

// BASICS
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

textarea {
    resize: none;
}

body,
html {
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

*,
html,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: $regular-font;
    font-size: 100%;
}

// MAIN HEADER
.main-header {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 0 56px;
    height: 112px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &-logo {
        max-width: 236px;

        img {
            width: 100%;
        }
    }

    &-nav {
        display: flex;
        max-width: 750px;

        ul {
            width: 100%;
            display: flex;
        }

        li {
            width: 100%;
        }

        a {
            width: 100%;
            white-space: nowrap;
            padding: 24px;
            font-size: 1em;
            transition: all .2s ease-in-out;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    &-cta {
        font-family: $medium-font;
        font-size: 1.1em;
        display: flex;

        img {
            width: 100%;
            max-width: 21px;
            margin-right: 24px;
        }

        transition: all .2s ease-in-out;

        &:hover {
            opacity: 0.6;
        }
    }
}

//HOME HERO
.home-hero {
    background-image: url('../img/hero-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: calc(100vh - 112px);
    margin-top: 112px;
    margin-left: 56px;

    position: relative;

    &-container {
        background-color: rgba(#000, .4);
        width: 100%;
        height: 100%;
    }

    &-content {
        height: 64.5922746781%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: unset;
        max-width: 1340px;
        margin: 0 auto;

        h1 {
            color: #fff;
            font-family: $medium-font;
            font-size: 5em;
            line-height: 80px;
        }

        p {
            font-family: $light-font;
            color: #fff;
            max-width: 500px;
            font-size: 1.2em;
        }
    }

    &-main-cta {
        position: absolute;
        top: -29.2px;
        padding: 20px 56px;
        margin-left: 124px;
        background: $primary-color;
        font-family: $medium-font;
        transition: all .2s ease-in-out;

        &:hover {
            background: $hover-color;
        }
    }

    &-white-bars {
        width: 100%;
        height: 35.4077253219%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-one {
            background: #fff;
            height: 33.333333333333%;
            width: 100%;
            max-width: 40%;
        }

        &-two {
            background: #fff;
            height: 33.333333333333%;
            width: 100%;
            max-width: 60%;
        }

        &-three {
            background: #fff;
            height: 33.333333333334%;
            width: 100%;
            max-width: 80%;
        }
    }
}

.home-introduction {
    margin-left: 56px;
    width: 100%;

    &-content {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;

        h2 {
            font-size: 4em;
            margin-bottom: 56px;
        }

        p {
            font-family: $light-font;
            max-width: 650px;
            font-size: 1.2em;
        }
    }
}

.filters {
    width: 100%;
    margin: 56px;

    &-content {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
    }

    &-form {
        width: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;

        strong {
            font-family: $medium-font;
        }

        &-checkbox-label {
            cursor: pointer;
            margin: 8px 0;
        }

        &-checkbox-control {
            border: 1px solid #000;
            font-family: $light-font;
            padding: 20px 28px;
            font-size: 2em;
            transition: all .2s ease-in-out;

            &:hover {
                border: 1px solid $primary-color;
                background: $primary-color;
            }
        }

        &-checkbox-input {
            display: none;
        }

        input[type="checkbox"]:checked~.filters-form-checkbox-control {
            border: 1px solid #000;
            background: $primary-color;
        }

        strong {
            font-family: $regular-font;
            font-size: 1.2em;

            &.paddingtop {
                margin-top: 56px;
                display: inline-block;
            }
        }

        &-rooms {
            display: flex;
            justify-content: space-between;
            max-width: 350px;
            margin-bottom: 40px;
        }

        &-floor {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            max-width: 350px;
        }

        &-submit {
            color: #000;
            background: $primary-color;
            cursor: pointer;
            transition: all .2s ease-in-out;
            border: none;
            padding: 20px 56px;
            margin-left: auto;
            margin-top: 100px;
            font-family: $medium-font;

            &:hover {
                background: $hover-color;
            }
        }

        &-left {
            width: 40%;
        }

        &-right {
            width: 40%;
            display: flex;
            flex-direction: column;
        }

        .noUi-active {
            box-shadow: unset;
            background: $hover-color !important;
        }

        .noUi-handle:after,
        .noUi-handle:before {
            content: unset;
            background: $primary-color;
        }

        .noUi-handle {
            border: unset;
            border-radius: 100%;
            background: $primary-color;
            cursor: default;
            box-shadow: unset;
        }

        .noUi-horizontal .noUi-handle {
            width: 25px;
            height: 25px;
            right: -17px;
            top: -12px;
        }

        .noUi-connect {
            background: #707070;
        }

        .noUi-target {
            background: #DBDBDB;
            border-radius: 0;
            border: unset;
            box-shadow: unset;
        }

        .noUi-horizontal {
            height: 1px;
        }

        .noUi-tooltip {
            border: unset;
            background: unset;
        }

        .noUi-horizontal .noUi-tooltip {
            bottom: -150%;
        }
    }

    #price-slider {
        width: 100%;
        margin: 32px 0;
    }

    #area-slider {
        width: 100%;
        margin: 32px 0;
    }
}

.vizualizacia {
    svg {
        width: 100%;
    }

    &-content {
        position: relative;
    }

    .tooltip {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #fff;
        padding: 32px;

        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity .2s linear;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        h5 {
            font-family: $medium-font;
            font-size: 2em;

            strong {
                color: rgba(0, 0, 0, 0.2);
                font-size: 4em;
                margin-right: 16px;
            }
        }

        a {
            font-family: $medium-font;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            transition: all .2s ease-in-out;

            img {
                width: 100%;
                max-width: 20px;
                max-width: 15px;
                margin-left: 16px;
            }

            &:hover {
                opacity: .6;
            }
        }

        .table {
            width: 100%;
            margin-bottom: 40px;

            .row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 1.4em;
                margin: 12px 0;
            }

            span {
                font-family: $light-font;
            }

            strong {
                font-family: $bold-font;
            }
        }

        &::before {
            content: url('../img/tooltip-popup-arrow.svg');
            position: absolute;
            left: -26px;

        }
    }

    #p1-tooltip {
        right: 3%;
        bottom: 6%;

        &::before {
            bottom: 50px;
        }
    }

    #p2-tooltip {
        right: 3%;
        bottom: 14%;

        &::before {
            bottom: 50px;
        }
    }

    #p3-tooltip {
        right: 3%;
        bottom: 23%;

        &::before {
            bottom: 50px;
        }
    }

    #p4-tooltip {
        right: 3%;
        bottom: 31%;

        &::before {
            bottom: 50px;
        }
    }

    #p5-tooltip {
        right: 3%;
        bottom: 1%;

        &::before {
            top: 50px;
        }
    }

    #p6-tooltip {
        right: 3%;
        bottom: 9%;

        &::before {
            top: 50px;
        }
    }

    #p7-tooltip {
        right: 3%;
        bottom: 16%;

        &::before {
            top: 50px;
        }
    }

    #p1,
    #p2,
    #p3,
    #p4,
    #p5,
    #p6,
    #p7 {
        opacity: 0 !important;
        cursor: pointer;

        &:hover {
            opacity: 0.5 !important;
        }
    }

    position: relative;

    &-white-bars {
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;

        &-one {
            background: #fff;
            height: 9.4357076781%;
            width: 68.8541666667%;
        }

        &-two {
            background: #fff;
            height: 9.4357076781%;
            width: 54.8958333333%;
        }
    }
}

.home-about {
    background-color: $secondary-color;

    &-content-wrapper {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
    }

    &-content {
        background-image: url('../img/about-bg-logo.svg');
        background-repeat: no-repeat;
        background-size: 460px;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 80px;

        &-container {
            background-image: url('../img/about-building.png');
            background-repeat: no-repeat;
            background-size: 30%;
            background-position: right top;
            padding: 100px 56px 200px 56px;
        }

        h3 {
            font-family: $light-font;
            font-size: 3em;

            strong {
                font-family: $medium-font;
            }
        }

        p {
            font-family: $light-font;
            max-width: 750px;
            margin-top: 56px;
        }
    }

    &-icons {
        display: flex;
        max-width: 1340px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }

    &-icon {
        width: 20%;
        margin: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-wrapper {
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            height: 90px;
            width: 90px;

            img {
                width: 100%;
                max-width: 35px;
            }
        }

        span {
            font-family: $medium-font;
            margin-top: 32px;
        }
    }

    a {
        background-color: $primary-color;
        padding: 20px 56px;
        transition: all .2s ease-in-out;
        font-family: $medium-font;
        margin: 56px auto 0 auto;

        &:hover {
            background-color: $hover-color;
        }

    }
}

.home-counter {
    margin: 56px;

    &-content {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;

        &-top {
            display: flex;
            width: 90%;
            justify-content: space-between;
        }

        &-bottom {
            display: flex;
            width: 90%;
            justify-content: flex-end;
            justify-content: space-between;
            margin-left: auto;
        }

        .counter {
            display: inline-flex;
            margin: 24px 0;

            strong {
                font-family: $bold-font;
                font-size: 5em;
            }

            span {
                font-family: $light-font;
                font-size: 1.1em;
                max-width: 170px;
                margin: 16px 0 0 16px;
            }
        }
    }
}

.home-gallery-slider {
    width: 100%;
    margin: 120px 0;

    &-content {
        width: 100%;
    }

    .card {
        width: 100%;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

    .splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
    }
}

.home-standards {

    &-icons {
        background-color: $secondary-color;
    }

    &-icons-container {
        display: block;
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
        padding-top: 64px;
    }

    &-content {
        width: 100%;
        background-color: $secondary-color;
    }

    &-wrapper {
        display: block;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
            content: url('../img/main-form-content-bg.svg');
            position: absolute;
            right: 20%;
        }
    }

    h3 {
        font-family: $medium-font;
        font-size: 3em;
        max-width: 500px;
    }

    &-container {
        display: flex;
        flex-direction: column;

        p {
            font-family: $light-font;
            max-width: 500px;
            font-size: 1.1em;
            margin-top: 40px;
        }

        a {
            font-family: $medium-font;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            margin-left: auto;
            display: inline-block;

            img {
                width: 100%;
                max-width: 12px;
                margin-left: 24px;
            }

            transition: all .2s ease-in-out;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    &-icons-top {
        width: 100%;
        display: inline-flex;
        margin: 32px 0;
    }

    &-icons-bottom {
        width: 100%;
        display: inline-flex;
        margin: 32px 0;
    }

    &-icon {
        width: 20%;
        margin: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-wrapper {
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            height: 90px;
            width: 90px;

            img {
                width: 100%;
                max-width: 35px;
            }
        }

        span {
            font-family: $medium-font;
            margin-top: 32px;
            max-width: 150px;
            text-align: center;
        }
    }

    .invisible-icon {
        visibility: hidden;
    }

    &-bars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-bar-one {
        background-color: $secondary-color;
        width: 75%;
        height: 110px;
    }

    &-bar-two {
        background-color: $secondary-color;
        width: 90%;
        height: 110px;
    }
}

.home-timeline {
    width: 100%;
    margin: 80px 0;

    &-content {
        width: 100%;
    }

    .timeline-content {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .point {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        strong {
            font-family: $medium-font;
            font-size: 1.6em;
        }

        span {
            color: $primary-color;
            font-family: $medium-font;
            font-size: 1.7em;
            margin: 8px 0;
        }

        small {
            font-family: $light-font;
            font-size: 1.1em;
        }

        .small-dot {
            background: $primary-color;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            margin: 16px 0;
        }

        .big-dot {
            background: $primary-color;
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }

    .timeline-line {
        border-bottom: dashed 2px #707070;
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
        margin-top: -15px;
    }
}

.home-news {

    &-container {
        width: 100%;
        display: flex;
        max-width: 1340px;
        margin: 80px auto;
        justify-content: space-between;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-family: $medium-font;
            font-size: 3em;
        }

        p {
            font-family: $light-font;
            font-size: 1.1em;
            max-width: 480px;
            margin: 56px 0;
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            a {
                color: #000;
                background: $primary-color;
                transition: all .2s ease-in-out;
                padding: 20px 56px;
                font-family: $medium-font;
                width: 48%;
                text-align: center;

                &:hover {
                    background: $hover-color;
                }
            }
        }
    }

    img {
        width: 100%;
        max-width: 50%;
    }
}

.home-developer {
    width: 100%;
    background-color: $secondary-color;

    &-bars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-one {
            background: #fff;
            height: 100px;
            width: 25%;
        }

        &-two {
            background: #fff;
            height: 100px;
            width: 10%;
        }
    }

    &-content {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 80px;

        h3 {
            font-family: $light-font;
            font-size: 3em;

            strong {
                font-family: $medium-font;
            }
        }

        p {
            font-family: $light-font;
            font-size: 1.1em;
            max-width: 850px;
        }

        .utosia-logo {
            margin-left: auto;
        }
    }

    &-gallery {
        width: 100%;
        margin: 80px 0;
        display: flex;
        justify-content: space-between;

        img {
            width: 100%;
            max-width: 32.5%;
        }
    }
}

.home-partners {
    width: 100%;

    &-content {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;

        h3 {
            font-family: $medium-font;
            font-size: 3em;
            text-align: center;
        }

        p {
            font-family: $light-font;
            font-size: 1.1em;
            text-align: center;
            max-width: 500px;
            margin: 23px 0 56px 0;
        }

        .partners {
            width: 100%;
            display: flex;
            justify-content: space-between;

            img {
                width: 100%;
                max-width: 15%;
            }
        }
    }
}

.main-form {
    width: 100%;
    background-color: $secondary-color;

    &-bars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-one {
            background: #fff;
            height: 100px;
            width: 25%;
        }

        &-two {
            background: #fff;
            height: 100px;
            width: 10%;
        }
    }

    &-container {
        display: flex;
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 56px 96px 56px;
    }

    &-content {
        width: 40%;
        background-image: url('../img/main-form-content-bg.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 450px;

        h3 {
            font-family: $medium-font;
            font-size: 4em;
            max-width: 400px;
            margin-bottom: 64px;
        }

        p {
            font-family: $light-font;
            max-width: 370px;
        }
    }

    form {
        display: flex;

        flex-flow: row wrap;
        width: 100%;
        max-width: 800px;
        margin-top: 80px;
        justify-content: space-between;

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        input,
        textarea {
            border-bottom: 1px solid #000;
            width: 45%;
            border: none;
            font-size: 1.1em;
            border-bottom: 1px solid #000;
            padding: 20px 0;
            margin: 24px 0;
            background: transparent;
        }

        textarea {
            width: 100%;
            margin-bottom: 80px;
        }

        .main-form-checkboxes {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
                display: none;
            }

            .byt {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 1.1em;
                margin: 12px 0;
                cursor: pointer;

                .main-form-checkbox-controller {
                    width: 25px;
                    height: 25px;
                    border: 2px solid #000;
                    margin-right: 12px;
                    border-radius: 100%;
                    cursor: pointer;
                }

                input[type="checkbox"]:checked~.main-form-checkbox-controller {
                    background: #000;
                }
            }

            .kancelaria {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 1.1em;
                margin: 12px 0;
                cursor: pointer;

                .main-form-checkbox-controller {
                    width: 25px;
                    height: 25px;
                    border: 2px solid #000;
                    margin-right: 12px;
                    border-radius: 100%;
                    cursor: pointer;
                }

                input[type="checkbox"]:checked~.main-form-checkbox-controller {
                    background: #000;
                }
            }
        }

        .gdpr {
            width: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;

            .main-form-gdpr-controller {
                width: 25px;
                height: 25px;
                border: 2px solid #000;
                margin-right: 12px;
                cursor: pointer;
            }

            input {
                display: none;
            }

            input[type="checkbox"]:checked~.main-form-gdpr-controller {
                background: #000;
            }

            a {
                text-decoration: underline;
                margin-left: 4px;
            }
        }

        button {
            color: #000;
            background: $primary-color;
            cursor: pointer;
            transition: all .2s ease-in-out;
            border: none;
            padding: 20px 56px;
            font-family: $medium-font;

            &:hover {
                background: $hover-color;
            }
        }
    }
}

.newsletter {
    background-color: $tertiary-color;

    &-container {
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 56px 0;
    }

    &-content {
        width: 50%;

        h4 {
            font-family: $medium-font;
            font-size: 2em;
        }

        p {
            font-family: $light-font;
            width: 370px;
            margin-top: 16px;
            font-size: 1.1em;
        }
    }

    form {
        width: 50%;
        max-width: 500px;
        display: flex;
        flex-flow: row wrap;

        input {
            border-bottom: 1px solid #000;
            width: 100%;
            border: none;
            font-size: 1.1em;
            border-bottom: 1px solid #000;
            padding-bottom: 20px;
            margin: 24px 0;
            background: transparent;
        }

        button {
            max-width: 50%;
            border: none;
            background: transparent;
            margin-left: -26.5px;
            position: relative;
            z-index: 2;
            cursor: pointer;

            img {
                width: 100%;
            }

            transition: all .2s ease-in-out;

            &:hover {
                opacity: .6;
            }
        }

        .input-wrapper {
            display: flex;
            width: 100%;
        }

        .gdpr {
            width: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            .main-form-gdpr-controller {
                width: 25px;
                height: 25px;
                border: 2px solid #000;
                margin-right: 12px;
                cursor: pointer;
            }

            input {
                display: none;
            }

            input[type="checkbox"]:checked~.main-form-gdpr-controller {
                background: #000;
            }

            a {
                text-decoration: underline;
                margin-left: 4px;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $footer-color;
    padding: 80px;

    .content {
        width: 100%;

        display: flex;
    }

    .column {
        width: 25%;

        strong {
            font-family: $medium-font;
            color: #fff;
            font-size: 1.4em;
        }

        nav {
            width: 100%;
        }

        ul {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        li {
            width: 100%;
            margin: 16px 0;
        }

        #sitemap-footer-nav {
            li {
                width: 40%;
                margin-right: 32px;
            }
        }

        a {
            color: rgba(#fff, .5);
            transition: all .2s ease-in-out;
            font-size: 1.1em;

            &:hover {
                color: rgba(#fff, 1);
            }
        }
    }
}

.podlazie {
    width: 100%;
    margin-top: 112px;
	position: relative;
	padding: 0 56px;

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
		background-color: $secondary-color;
		padding: 120px;
		position: relative;
    }

    &-hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 530px;

        h1 {
            font-family: $medium-font;
            font-size: 3em;
            margin: 0;
        }

        p {
            font-family: $light-font;
            margin: 56px 0;
        }

        a {
            color: #000;
            background: $primary-color;
            transition: all .2s ease-in-out;
            padding: 20px 56px;
            font-family: $medium-font;
            align-self: flex-start;

            &:hover {
                background: $hover-color;
            }
        }
    }

    &-hero-table {
        width: 100%;
        background: #fff;
        max-width: 400px;

        h2 {
            font-family: $medium-font;

            strong {
                color: rgba(#000, .4);
                font-size: 3em;
            }
        }
    }

    .table-content {
        width: 100%;

        .row {
            display: flex;
            justify-content: space-between;
            font-size: 1.3em;

            span {
                font-family: $light-font;
            }

            strong {
                font-family: $bold-font
            }
        }
    }

    &-floor-plan {
        display: flex;
        justify-content: space-between;

        img {
            width: 100%;
            max-width: 30%;
        }

        &-table {
            width: 50%;

            h2 {
                font-family: $medium-font;
            }

            small {
                font-family: $light-font;
            }

            .table {
                width: 100%;
                max-width: 500px;

                .row {
                    display: flex;
                    justify-content: space-between;
                }

                strong {
                    font-family: $medium-font;
                }

                span {
                    font-family: $regular-font;
                }
            }
        }

        a {
            color: #000;
            background: $primary-color;
            transition: all .2s ease-in-out;
            padding: 20px 56px;
            font-family: $medium-font;

            &:hover {
                background: $hover-color;
            }
        }
    }
}

.byt {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 112px;

    img {
        width: 100%;
        max-width: 40%;
    }

    &-content {
        width: 100%;
        max-width: 500px;

        h1 {
            font-family: $medium-font;
        }

        .row {
            small {
                font-family: $light-font;
            }

            a {
                font-family: $medium-font;
            }

            span {
                font-family: $regular-font;
            }
        }

        .table {
            width: 100%;
            font-size: 1.3em;
        }

        .tag {
            width: 100%;
            display: flex;

            .availability {
                width: 50%;
                display: flex;
                flex-direction: column;

                strong {
                    color: $free-color;
                    font-size: 1.5em;
                }
            }

            .price {
                width: 50%;
                display: flex;
                flex-direction: column;

                span {
                    font-family: $medium-font;
                }
            }
        }
    }
}

.copyright {
    width: 100%;
    background-color: $footer-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;

    p {
        color: rgba(#fff, .5);
        font-size: 1.1em;
    }

    .socials {
        background: #fff;
        display: flex;
        padding: 40px 140px;
        align-items: center;
        justify-content: space-between;

        p {
            color: #000;
            margin-right: 56px;
            display: flex;
            align-items: center;
        }

        a {
            display: block;
            transition: all .2s ease-in-out;
            margin: 0 16px;

            img {
                width: 100%;
                max-width: 24px;
                max-height: 24px;
            }

            &:hover {
                opacity: .6;
            }
        }
    }
}
